# Minneapolis Food Inspections - ETL

In [23]:
# Dependencies

import pandas as pd
import numpy as np
from sqlalchemy import create_engine 
from config import (user, password, host, port, database)

In [24]:
# Read CSV 

food_insp_df = pd.read_csv("Food_Inspections.csv")

In [25]:
# Drop unneeded columns
columns_to_drop = ['X', 'Y', 'HealthFacilityIDNumber',  'AddrNum', 'AddrNumSuffix',
       'StreetName', 'StreetType', 'PostDir', 'Unit', 'City', 'State',
       'County', 'ZipCode', 'APN', 'Ward', 'X_WebMercator', 'Y_WebMercator']

food_insp_df_clean = food_insp_df.drop(columns = columns_to_drop)

In [26]:
# Drop any existing NA's
food_insp_df_clean.dropna(how = 'any', inplace = True)

In [27]:
# Drop non-restaurant facilities
restaurants_df = food_insp_df_clean.loc[food_insp_df_clean["FacilityCategory"] == "RESTAURANT"]
restaurants_df.head(20)

,OBJECTID,FacilityCategory,BusinessName,RiskLevel,FullAddress,InspectionType,InspectionResult,DateOfInspection,InspectionIDNumber,FoodCodeText,...,ViolationPriority,FoodCodeItem,YearOfInspection,ViolationStatus,ViolationPoints,InspectionScore,ViolationIDNumber,Neighborhood,Latitude,Longitude
1,2,RESTAURANT,SOTAROL UPTOWN,1,2935 GIRARD AVE S,Routine,Complete,2018/07/18 13:50:00+00,204578,When using time only as a public health contro...,...,Priority1,MN Rule 4626.0408B,2018,Observed,4,92,625817,Lowry Hill East,44.94885,-93.29663
2,3,RESTAURANT,SOTAROL UPTOWN,1,2935 GIRARD AVE S,Routine,Complete,2018/07/18 13:50:00+00,204578,Employ a certified food protection manager (CF...,...,Priority3,MN Rule 4626.0033A,2018,Observed,0,92,681981,Lowry Hill East,44.94885,-93.29663
3,4,RESTAURANT,SOTAROL UPTOWN,1,2935 GIRARD AVE S,Routine,Complete,2018/07/18 13:50:00+00,204578,Food packages must be in good condition and mu...,...,Priority2,MN Rule 4626.0190,2018,Observed,2,92,681984,Lowry Hill East,44.94885,-93.29663
4,5,RESTAURANT,SOTAROL UPTOWN,1,2935 GIRARD AVE S,Routine,Complete,2018/07/18 13:50:00+00,204578,Thaw TCS food by one of the following methods:...,...,Priority3,MN Rule 4626.0380ABC,2018,Observed,0,92,682062,Lowry Hill East,44.94885,-93.29663
5,6,RESTAURANT,SOTAROL UPTOWN,1,2935 GIRARD AVE S,Routine,Complete,2019/07/18 11:45:00+00,254817,Provide a sign or poster at all handwashing si...,...,Priority3,MN Rule 4626.1457,2019,Corrected on-site,0,100,730395,Lowry Hill East,44.94885,-93.29663
6,7,RESTAURANT,SOTAROL UPTOWN,1,2935 GIRARD AVE S,Routine,Complete,2019/07/18 11:45:00+00,254817,The handwashing sink must be accessible at all...,...,Priority2,MN Rule 4626.1110AB,2019,Corrected on-site,2,100,730396,Lowry Hill East,44.94885,-93.29663
7,8,RESTAURANT,SOTAROL UPTOWN,1,2935 GIRARD AVE S,Routine,Complete,2019/07/18 11:45:00+00,254817,Provide and maintain a supply of individual di...,...,Priority2,MN Rule 4626.1445,2019,Corrected on-site,2,100,730398,Lowry Hill East,44.94885,-93.29663
8,9,RESTAURANT,SOTAROL UPTOWN,1,2935 GIRARD AVE S,Routine,Complete,2019/07/18 11:45:00+00,254817,"Mark the refrigerated, ready-to-eat, TCS food ...",...,Priority2,MN Rule 4626.0400A,2019,Corrected on-site,2,100,730399,Lowry Hill East,44.94885,-93.29663
9,10,RESTAURANT,SOTAROL UPTOWN,1,2935 GIRARD AVE S,Routine,Complete,2019/07/18 11:45:00+00,254817,"Separate raw animal foods during storage, prep...",...,Priority1,MN Rule 4626.0235A(1),2019,Corrected on-site,4,100,730400,Lowry Hill East,44.94885,-93.29663
10,11,RESTAURANT,SOTAROL UPTOWN,1,2935 GIRARD AVE S,Routine,Complete,2019/07/18 11:45:00+00,254817,Properly label all working containers holding ...,...,Priority3,MN Rule 4626.0240,2019,Corrected on-site,0,100,730401,Lowry Hill East,44.94885,-93.29663
11,12,RESTAURANT,SOTAROL UPTOWN,1,2935 GIRARD AVE S,Routine,Complete,2019/07/18 11:45:00+00,254817,Develop written procedures prior to using tim...,...,Priority2,MN Rule 4626.0408A,2019,Corrected on-site,2,100,730402,Lowry Hill East,44.94885,-93.29663
15,16,RESTAURANT,CRISP & GREEN,1,428 WASHINGTON AVE N,Routine,Complete,2019/11/08 12:00:00+00,279484,All equipment and components must be in good r...,...,Priority3,MN Rule 4626.0735AB,2019,Observed,0,84,698873,North Loop,44.98619,-93.27411
16,17,RESTAURANT,CRISP & GREEN,1,428 WASHINGTON AVE N,Routine,Complete,2019/11/08 12:00:00+00,279484,Include the following information on the consu...,...,Priority2,MN Rule 4626.0442B,2019,Observed,2,84,745794,North Loop,44.98619,-93.27411
17,18,RESTAURANT,CRISP & GREEN,1,428 WASHINGTON AVE N,Routine,Complete,2019/11/08 12:00:00+00,279484,"Separate raw animal foods during storage, prep...",...,Priority1,MN Rule 4626.0235A(1),2019,Observed,4,84,745795,North Loop,44.98619,-93.27411
18,19,RESTAURANT,CRISP & GREEN,1,428 WASHINGTON AVE N,Routine,Complete,2019/11/08 12:00:00+00,279484,Clearly label all working containers used for ...,...,Priority2,MN Rule 4626.1595,2019,Observed,2,84,745796,North Loop,44.98619,-93.27411
19,20,RESTAURANT,CRISP & GREEN,1,428 WASHINGTON AVE N,Routine,Complete,2019/11/08 12:00:00+00,279484,Store food preparation or dispensing utensils ...,...,Priority3,MN Rule 4626.0275E,2019,Observed,0,84,745797,North Loop,44.98619,-93.27411
20,21,RESTAURANT,CRISP & GREEN,1,428 WASHINGTON AVE N,Routine,Complete,2019/11/08 12:00:00+00,279484,Properly label all working containers holding ...,...,Priority3,MN Rule 4626.0240,2019,Observed,0,84,745798,North Loop,44.98619,-93.27411
21,22,RESTAURANT,CRISP & GREEN,1,428 WASHINGTON AVE N,Routine,Complete,2019/11/08 12:00:00+00,279484,"Provide a readily accessible, irreversible reg...",...,Priority2,MN Rule 4626.0710B,2019,Observed,2,84,745799,North Loop,44.98619,-93.27411
22,23,RESTAURANT,CRISP & GREEN,1,428 WASHINGTON AVE N,Routine,Complete,2019/11/08 12:00:00+00,279484,Cool cooked TCS food: 1. within 2 hours from 1...,...,Priority1,MN Rule 4626.0385A,2019,Observed,4,84,745800,North Loop,44.98619,-93.27411
23,24,RESTAURANT,CRISP & GREEN,1,428 WASHINGTON AVE N,Routine,Complete,2019/11/08 12:00:00+00,279484,Cool food by: 1. placing the food in shallow p...,...,Priority2,MN Rule 4626.0390A,2019,Observed,2,84,745801,North Loop,44.98619,-93.27411

In [28]:
# Drop details of inspections and violations, won't be needed, as well as Restaurant Category
inspection_details = ['FoodCodeText', 'FacilityCategory', 'RiskLevel', 'InspectorComments',
       'InspectionResult', 'ViolationPriority', 'FoodCodeItem', 'YearOfInspection',
       'ViolationStatus', 'ViolationPoints', 'ViolationIDNumber']

restaurants_df_clean = restaurants_df.drop(columns = inspection_details)
restaurants_df_clean.head(10)

,OBJECTID,BusinessName,FullAddress,InspectionType,DateOfInspection,InspectionIDNumber,InspectionScore,Neighborhood,Latitude,Longitude
1,2,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2018/07/18 13:50:00+00,204578,92,Lowry Hill East,44.94885,-93.29663
2,3,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2018/07/18 13:50:00+00,204578,92,Lowry Hill East,44.94885,-93.29663
3,4,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2018/07/18 13:50:00+00,204578,92,Lowry Hill East,44.94885,-93.29663
4,5,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2018/07/18 13:50:00+00,204578,92,Lowry Hill East,44.94885,-93.29663
5,6,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2019/07/18 11:45:00+00,254817,100,Lowry Hill East,44.94885,-93.29663
6,7,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2019/07/18 11:45:00+00,254817,100,Lowry Hill East,44.94885,-93.29663
7,8,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2019/07/18 11:45:00+00,254817,100,Lowry Hill East,44.94885,-93.29663
8,9,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2019/07/18 11:45:00+00,254817,100,Lowry Hill East,44.94885,-93.29663
9,10,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2019/07/18 11:45:00+00,254817,100,Lowry Hill East,44.94885,-93.29663
10,11,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2019/07/18 11:45:00+00,254817,100,Lowry Hill East,44.94885,-93.29663

In [29]:
# Drop duplicate inspection ID numbers (each inspection has a unique ID)
restaurants_df_unique = restaurants_df_clean.drop_duplicates("InspectionIDNumber")
restaurants_df_unique.head(20)

,OBJECTID,BusinessName,FullAddress,InspectionType,DateOfInspection,InspectionIDNumber,InspectionScore,Neighborhood,Latitude,Longitude
1,2,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2018/07/18 13:50:00+00,204578,92,Lowry Hill East,44.94885,-93.29663
5,6,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2019/07/18 11:45:00+00,254817,100,Lowry Hill East,44.94885,-93.29663
15,16,CRISP & GREEN,428 WASHINGTON AVE N,Routine,2019/11/08 12:00:00+00,279484,84,North Loop,44.98619,-93.27411
25,26,LUCY BAR & RESTAURANT LIMITED LIABILITY COMPANY,3915 HIAWATHA AVE,Routine,2018/10/11 10:55:00+00,228096,82,Howe,44.93168,-93.22639
38,39,LUCY BAR & RESTAURANT LIMITED LIABILITY COMPANY,3915 HIAWATHA AVE,Routine,2019/10/11 13:35:00+00,275485,80,Howe,44.93168,-93.22639
53,54,LUCY BAR & RESTAURANT LIMITED LIABILITY COMPANY,3915 HIAWATHA AVE,Follow-Up,2018/12/07 11:55:00+00,275486,96,Howe,44.93168,-93.22639
57,58,LUCY BAR & RESTAURANT LIMITED LIABILITY COMPANY,3915 HIAWATHA AVE,Follow-Up,2019/12/06 12:05:00+00,332891,98,Howe,44.93168,-93.22639
60,61,"DOUBLE DANGER, LLC",113 26TH ST E,Follow-Up,2018/02/12 15:50:00+00,230069,100,Whittier,44.95511,-93.27569
61,62,"DOUBLE DANGER, LLC",113 26TH ST E,Routine,2018/10/05 11:30:00+00,230070,94,Whittier,44.95511,-93.27569
65,66,"DOUBLE DANGER, LLC",113 26TH ST E,Follow-Up,2018/04/17 12:00:00+00,242722,100,Whittier,44.95511,-93.27569
68,69,"DOUBLE DANGER, LLC",113 26TH ST E,Routine,2019/10/03 12:58:00+00,275135,88,Whittier,44.95511,-93.27569
79,80,"DOUBLE DANGER, LLC",113 26TH ST E,Follow-Up,2019/11/07 11:00:00+00,331636,100,Whittier,44.95511,-93.27569
80,81,AFRO DELI AND COFFEE LLC,720 WASHINGTON AVE SE,Routine,2018/05/02 15:45:00+00,197629,80,University of Minnesota,44.97333,-93.22759
90,91,AFRO DELI AND COFFEE LLC,720 WASHINGTON AVE SE,Routine,2019/05/01 11:30:00+00,249116,98,University of Minnesota,44.97333,-93.22759
94,95,AFRO DELI AND COFFEE LLC,720 WASHINGTON AVE SE,Follow-Up,2018/06/29 15:00:00+00,249117,90,University of Minnesota,44.97333,-93.22759
100,101,KUNG FU TEA,507 14TH AVE SE,Routine,2018/03/23 12:00:00+00,240567,94,Marcy Holmes,44.98232,-93.23560
104,105,KUNG FU TEA,507 14TH AVE SE,Routine,2019/04/02 11:45:00+00,247155,96,Marcy Holmes,44.98232,-93.23560
109,110,MARKET PLACE,1300 NICOLLET MALL,Routine,2018/06/21 12:24:00+00,202127,96,Loring Park,44.97086,-93.27826
112,113,MARKET PLACE,1300 NICOLLET MALL,Routine,2019/06/20 12:45:00+00,253152,100,Loring Park,44.97086,-93.27826
124,125,AMORE UPTOWN,1601 LAKE ST W,Routine,2018/09/07 12:20:00+00,223051,92,ECCO,44.94807,-93.30246

In [30]:
# Rename and rearrange columns (OBJECTID is going to be our primary key column)
## Verify that OBJECTID has unique values
print(restaurants_df_unique.shape) # 4540 rows x 10 columns
print(restaurants_df_unique["OBJECTID"].nunique()) # Number of unique values in the OBJECTID column

(4540, 10)
4540

In [32]:
## Rename the OBJECTID to id and rename rest of columns to snake case 
new_column_names = {"OBJECTID": "id", 
                    "BusinessName": "business_name",
                    "FullAddress": "address",
                    "InspectionType": "inspection_type",
                    "DateOfInspection": "inspection_date",
                    "InspectionScore": "inspection_score",
                    "Neighborhood": "neighborhood",
                    "Latitude": "latitude",
                    "Longitude": "longitude"}

restaurants_df_lower = restaurants_df_unique.rename(columns = new_column_names).drop(columns = "InspectionIDNumber")
restaurants_df_lower.head()

,id,business_name,address,inspection_type,inspection_date,inspection_score,neighborhood,latitude,longitude
1,2,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2018/07/18 13:50:00+00,92,Lowry Hill East,44.94885,-93.29663
5,6,SOTAROL UPTOWN,2935 GIRARD AVE S,Routine,2019/07/18 11:45:00+00,100,Lowry Hill East,44.94885,-93.29663
15,16,CRISP & GREEN,428 WASHINGTON AVE N,Routine,2019/11/08 12:00:00+00,84,North Loop,44.98619,-93.27411
25,26,LUCY BAR & RESTAURANT LIMITED LIABILITY COMPANY,3915 HIAWATHA AVE,Routine,2018/10/11 10:55:00+00,82,Howe,44.93168,-93.22639
38,39,LUCY BAR & RESTAURANT LIMITED LIABILITY COMPANY,3915 HIAWATHA AVE,Routine,2019/10/11 13:35:00+00,80,Howe,44.93168,-93.22639

In [17]:
# Transform the inspection_date column to a date object
pd.to_datetime(inspection_date)

array(['Routine', 'Follow-Up'], dtype=object)